body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.m-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.h-full {
    height: 100%;
}

.gap-md {
    gap: 1rem;
}