body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #221133;
    color: #ddeeff;
}

a {
    color: #00B7FF;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.m-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.h-full {
    height: 100%;
}

.gap-md {
    gap: 1rem;
}

.card {
    font-size: 1.5em;
    background-color: #110022;
    border-radius: 8px;
    transition: 250ms all ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-btn {
    cursor: pointer;
}

.card-btn:hover {
    background-color: #000011;
}

.container {
    margin: auto;
    padding: 8px;
    max-width: 400px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.as-square {
    aspect-ratio: 1/1;
}