
<h1 class="text-center">
    {{ headerText }}
</h1>

<div class="container h-full">
    <div class="grid-2 gap-md">
        {{#each options as | option |}}
            <form method="POST"
                  onclick="submit()" class="card card-btn as-square"
                  style="
                    background-color: {{option.color}}
                  "
            >
                <div class="center flex h-full">
                    <input type="hidden" name="option" value="{{option.name}}">
                    {{option.name}}
                </div>
            </form>
        {{/each}}
    </div>
</div>
