
<div class="container h-full">
    <h1 class="text-center">
        {{ headerText }}
    </h1>

    <div class="grid-2 gap-md">
        {{#each options as | option |}}
            <form method="POST"
                  onclick="submit()" class="card card-btn as-square"
                  style="
                          background-color: {{option.color}};
                          color: black;
                  "
            >
                <input type="hidden" name="option" value="{{option.name}}">
                <div class="center flex h-full">
                    {{option.name}}
                </div>
            </form>
        {{/each}}
    </div>
</div>
