
<div class="container h-full">
    <h1 class="text-center">
        {{ headerText }}
    </h1>

    <p class="text-center">
        Je hebt gekozen voor '{{option}}'
    </p>
    <br> <br> <br>
    <p class="text-center">
        Je kan nu deze pagina sluiten
    </p>
</div>
