<div class="text-center">
    <h1>Balls on GD Gilde</h1>
    <p>Door Jeroen G en Chivano R</p>
</div>

<div style="height: 100px"></div>

<div class="flex center h-full">
    <div class="m-auto">
        <form method="post" class="flex column gap-md">
            <p class="text-center">Voer Code in:</p>
            <input type="text" name="code" placeholder="XXX-XXX">
            <input type="submit">
        </form>
    </div>
</div>